@page "/"

<PageTitle>Index</PageTitle>
<Dialog Show="showDialog"></Dialog>
<button @onclick="OpenDialog">Show Dialog</button>
@code {
    private bool showDialog = false;
    private void OpenDialog()
    {
        showDialog = true;
    }
}
