@page "/"

<PageTitle>Index</PageTitle>
<Dialog Show="showDialog"
    OnCancel="DialogCancelHandler"
    OnOk="DialogOkHandler">
</Dialog>
<button @onclick="OpenDialog">Show Dialog</button>
@code {
    private bool showDialog = false;
    private void OpenDialog()
    {
        showDialog = true;
    }
    private void DialogCancelHandler(MouseEventArgs e)
    {
        showDialog = false;
    }
    private void DialogOkHandler(MouseEventArgs e)
    {
        showDialog = false;
    }
}
